<p>add-reactive works!</p>
<div class="container">
    <form [formGroup]="custForm" (ngSubmit)="add()" class="was-validated">
        <div>
            Id<input type="text" class="form-control" formControlName="id" required pattern="[0-9]{3,}">
            <span class="invalid-feedback" *ngIf="custForm.controls.id.touched && custForm.controls.id.errors">
                    <span *ngIf="custForm.controls.id.errors.required">Id is required</span>
                    <span *ngIf="custForm.controls.id.errors.pattern">enter 3 digits</span>
            </span>

        </div>

        <div>
                Name<input type="text" class="form-control" formControlName="name" required pattern="[A-Z]{1}[a-z]{2,}">
                <span class="invalid-feedback" *ngIf="custForm.controls.name.touched && custForm.controls.name.errors">
                        <span *ngIf="custForm.controls.name.errors.required">name is required</span>
                        <span *ngIf="custForm.controls.name.errors.pattern">start with capital letter</span>
                </span>
    
            </div>

            <div>
                email<input type="email" class="form-control" formControlName="email" required email>
                <span class="invalid-feedback" *ngIf="custForm.controls.email.touched && custForm.controls.email.errors">
                        <span *ngIf="custForm.controls.email.errors.required">email is required</span>
                        <span *ngIf="custForm.controls.email.errors.email">not a valid email</span>
                </span>
    
            </div>

            <div>
                phone no<input type="text" class="form-control" formControlName="phone" required pattern="[0-9]{10}">
                <span class="invalid-feedback" *ngIf="custForm.controls.phone.touched && custForm.controls.phone.errors">
                        <span *ngIf="custForm.controls.phone.errors.required">phone no is required</span>
                        <span *ngIf="custForm.controls.phone.errors.pattern">not a valid phone</span>
                </span>
    
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="custForm.invalid"Save></button><br><br>

            {{custForm.value | json}}


    </form>
    <h3> Form Status:{{status}}</h3>

</div>
